<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <!-- 해당 설정파일에서 사용하는 프로퍼티-->
    <Properties>
        <property name="LOGS_PATH">/smartpole_mqtt_collector</property>
    </Properties>

    <Appenders>
        <!-- 콘솔 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level %logger{35} - %msg%n" />
        </Console>

        <!-- 파일 -->
        <RollingFile name ="RollingFile">
            <FileName>${LOGS_PATH}/back.log</FileName>
            <FilePattern>${LOGS_PATH}/smartpole_mqtt_collector.%d{yyyy-MM-dd}.%i.log.gz</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p [%c] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB"/>
                <TimeBasedTriggeringPolicy interval = "1" modulate = "true"/>
            </Policies>
            <DefaultRolloverStrategy max="100" fileIndex="min" /><!-- 롤링 파일 500개 까지 생성 -->
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Application Loggers -->
        <!-- Root 보다 우선 순위가 높습니다. -->
        <logger name="jdbc.connection" additivity="false" >
            <AppenderRef ref="console" level="WARN" />
            <AppenderRef ref="RollingFile" level="WARN" />
        </logger>

        <logger name="jdbc.audit" additivity="false" >
            <AppenderRef ref="console" level="WARN" />
        </logger>

        <logger name="jdbc.sqlonly" additivity="false" >
            <AppenderRef ref="console" level="WARN" />
        </logger>

        <logger name="jdbc.sqltiming" additivity="false" >
            <AppenderRef ref="console" level="INFO" />
            <AppenderRef ref="RollingFile" level="INFO" />
        </logger>

        <logger name="jdbc.resultset" additivity="false" >
            <AppenderRef ref="console" level="WARN" />
        </logger>

        <logger name="jdbc.resultsettable" additivity="false" >
            <AppenderRef ref="console" level="INFO" />
        </logger>

        <!-- FATAL, ERROR, WARN, INFO, DEBUG, TRACE -->
        <Root level="INFO">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>